
.spravka{
    margin-top: 50px;

}


.copyright{
    margin-top: 0px;
}


.nav{
    --bs-nav-link-hover-color: #232323;
}

.element-glav{
    font-weight: 600;
    color: #232323;
}


.element{
    color: #3F3F3F;
    font-weight: 500;
}

.element-small{
    color: #3F3F3F;
}

.element:hover,.element-glav:hover,.element-small:hover{
    color: #cc6f6f;
}

.element:hover,.element-glav:hover,.element-small:hover{
    color: #cc6f6f;
}

a.nav-link.element-glav.active {
    background-color: coral;
}

a.nav-link.element.active {
    background-color: coral;
}



.img{
    margin: 5px;
}

.img:hover{
    cursor: pointer;
}

.scrolls{
    height: 950px;
    overflow: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 1300px) {

    .sticky-top{
        position: relative;
    }

    .img{
        margin: 4px;
    }

    .scrolls{
        height: 100%;
        overflow: scroll;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .navbar{
        width: 250px;
    }


  }


@media screen and (max-width: 580px) {

    .sticky-top{
        position: relative;
    }

    .img{
        margin: 4px;
    }

  }

  